#headings {
  font-family: 'Roboto', sans-serif;
}

#hero-section {
  background-image: url(https://fiverr-res.cloudinary.com/image/upload/w_880/f_auto,q_auto/v1/attachments/generic_asset/asset/767bc10a0c44b0a67be1a94aea270205-1609336032121/website%20development-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 75vh;
  padding: clamp(100px, 20vh, 200px) 0;
}

#hero-section #profile-img img{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid grey;
}

#hero-section h2 {
  /* How to center text? */

  /* Add responsive vertical margins via clamp? */

}

.bg-dark {
  background-color: #ccb9b1;
}

#mission-section {
  background-color: #616063;
}

#skills-section {
  background-color: #ccb9b1;
}

#inspiration-section {
  background-color: #616063;
}

#contact-section {
  background-color: #ccb9b1;
}


#skills-section img {
  height: 115px;
  width: 115px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: none;
}

.carousel {
  width: 50%;
  height: 50%;
  margin: auto;
}

.carousel-margin {
  margin: auto;
}

#footer-section {
  padding-top: .25%;
  height: 35px;
  background-color: #616063;
}

.figure {
text-align: center;
}

.figure-caption {
  text-align: center;
  margin-top: 10px;
}