#headings {
  font-family: 'Roboto', sans-serif;
}

#hero-section {
  background-image: url(https://fiverr-res.cloudinary.com/image/upload/w_880/f_auto,q_auto/v1/attachments/generic_asset/asset/767bc10a0c44b0a67be1a94aea270205-1609336032121/website%20development-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  padding: clamp(100px, 20vh, 200px) 0;
}

#hero-section #profile-img img{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hero-section h2 {
  /* How to center text? */

  /* Add responsive vertical margins via clamp? */

}

#skills-section img {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
